<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse pt-0">
    <div class="position-sticky">
        <div class="sidebar-menu">
            <div class="brand-logo">
               <img src="../assets/img/logo.svg" alt="logo" width="150" class="logo side_menu_icon d-xs-none">
            </div>
            <ul class="nav flex-column side_menu_div"> 
                <li *ngFor="let item of menu"  [ngClass]="item.active ? 'menu-div menu-active':'menu-div'">
                    <div class="title" >
                      <img src="../assets/img/{{item.icon}}" class="menu-logo logo-padding" alt="logo" style="align-items: center;height: 16.666667938232422px;
                      width: 16.666667938232422px;
                      left: 1.666748046875px;
                      top: 1.666748046875px;
                      border-radius: 0px;
                      "/>
                        <span [ngClass]="item.active ? 'menu-labels highlight' : 'menu-labels'" style="height: 21px;
                        width: 111px;
                        left: 82px;
                        top: 133px;
                        border-radius: nullpx;
                        ">{{item.name}}</span>
                    </div>
                    <div *ngIf="item.subMenu" class="arrow-icon" >
                        <img src="../assets/img/arrow.svg" alt="arrow"/>
                    </div>
                    <div class="clearfix"></div>
               
                </li>
            </ul>
            
        </div>
        
        <ul *ngIf="menuShow" class="mb_menu nav flex-column">
            <li *ngFor="let item of menu"  [ngClass]="item.active ? 'menu-div menu-active':'menu-div nav-item'">
                <a class="col-lg-2 col-md-2 col-sm-2 col-2 nav-link  mb_menu_div" href="#">
                    <div [ngClass]="item.active ? 'menu-labels highlight' : 'menu-labels'" style="width: 100%;">
                        <img src="../assets/img/logo.svg" class="menu-logo logo-padding d-none d-sm-block" alt="logo" style="align-items: center;color: #3D67FF;
                        padding:10px;width:35px;"/>
                        <label style="color:black;line-height: .75;vertical-align: text-bottom;padding-left: .5rem;;
                        margin-right: .5rem;">{{item.name}}</label>
                        <div><img style="float:right;margin-right: .1rem;padding-top:1.2rem;" src="../assets/img/dwn_arrow.svg" alt="arrow"/></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
  </nav>
